body {
	height: 100%;
	width: 100%;
}

.container1 {
	width: 100%;
	height: 700px;
	background-image: url('../img/Portland.jpg');
	background-size: 100% 100%;
	background-position: fixed;
}

.headerName {
	text-align: center;
	font-size: 90px;
}

.headerTitle {
	text-align: center;
	font-size: 35px;
}

.container2 {
	background-color: #266aff;
	height: 150px;
	border: none;
}