html,body {
	background-image: url("../img/Portland.jpg");
	background-repeat: no-repeat;
	 -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 100% 900px;
	background-attachment: fixed;
}

.name {
	color: #000000;
	text-align: center;
	font-size: 80px;
	font-weight: bold;
}

.job {
	color: #000000;
	font-size: 32px;
	font-weight: bold;
	text-align: center;
}


h1 {
	text-align: center;
	text-decoration: underline;
}

.buttons {
	color: #fff;
	position: absolute;
	top: 200px;
	left: 385px;
}


.container-fluid {
	margin-top: 900px;
	height: 440px;
	background-color: #b3dddd;
}


.com-img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	max-width: 300px;
	height: 300px;
}

h4 {
	font-weight: bold;
	text-align: center;
}

.container-fluid2{
	border-top: 2px solid black;
	padding-top: 20px;
	height: 420px;
	background-color: #b3dddd;
}

.styleCenter{
 text-align: center;
}

.container-fluid3{
	border-top: 2px solid black;
	padding-top: 20px;
	height: 420px;
	background-color: #9effcc;
}

.container-fluid4{
	border-top: 2px solid black;
	padding-top: 20px;
	height: 420px;
	background-color: #e2fff0;
}

.container-fluid5{
	border-top: 2px solid black;
	padding-top: 20px;
	height: 175px;
	background-color: #dee0e2;
}

footer {
	color: #737577;
}

